<div class="px-4 flex flex-column gap-4">
  <h2>{{ "EXPERIENCE.TITLE" | translate }}</h2>

  <div *ngFor="let job of ['ENCODE', 'KUNAN', 'FREELANCE', 'TICKET']">
    <div class="flex justify-content-between py-3">
      <div class="flex gap-2 align-items-center">
        <p class="pi pi-briefcase pr-1"></p>
        <h4>{{ ("EXPERIENCE." + job + ".NAME") | translate }}</h4>
      </div>
      <p class="text-gray-400">
        {{ job === 'ENCODE' ? '2024 - Actualidad' :
           job === 'KUNAN' ? '2023 - 2024' :
           job === 'FREELANCE' ? '2022 - Actualidad' :
           '2024 - Actualidad' }}
      </p>
    </div>
    <p>{{ ("EXPERIENCE." + job + ".ROLE") | translate }}</p>

    <p class="pt-3">{{ ("EXPERIENCE." + job + ".P1") | translate }}</p>
    <p class="pt-3" *ngIf="'EXPERIENCE.' + job + '.P2' | translate as p2">{{ p2 }}</p>
    <p class="pt-3" *ngIf="'EXPERIENCE.' + job + '.P3' | translate as p3">{{ p3 }}</p>
  </div>
</div>
