<p-card class="">
  <ng-template pTemplate="header">
    <div class="flex items-center gap-3 p-3">
      <img
        [src]="avatarUrl"
        alt="Avatar"
        width="50"
        height="50"
        style="border-radius: 50%"
      />
      <div>
        <h3 class="m-0">{{ fullName }}</h3>
      </div>
    </div>
  </ng-template>

  <p *ngIf="description">{{ description }}</p>

  <div class="flex justify-content-between mt-2">
    <a [href]="htmlUrl" target="_blank" class="list-none underline"
      >Ver en GitHub</a
    >
  </div>
</p-card>
